mixin employment(history)
  .employment-container
    h2.major-section-title
      span Experience
    each job, employer in history
      +job-detail(employer, job)

mixin job-detail(employer, job)
  section.employment-section
    .employment-summary
      h4= employer
      h5 #{job.title.join(', ')}
      span #{job.start} - #{job.end || 'Present'}
      
    .employment-detail
      .employment-projects
        +employment-projects(job.projects)
      .employment-responsibilities
        +responsibilities(job.responsibilities)

mixin employment-projects(projectList)
  each project in projectList
    li= project.project
    
mixin responsibilities(responsibilityList)
  each resp in responsibilityList
    li= resp
